﻿@model MVCceidec2016.Models.Gcontraseña
@{
    ViewBag.Title = "Llamada Ajax + Partial View";
}

<h2>@ViewBag.Title</h2>


@*@using (Html.BeginForm("Index","Gcontraseña", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.DisplayNameFor(m => m.longitud) :  @Html.EditorFor(m => m.longitud) <br />
        @Html.DisplayNameFor(m => m.cnt) :  @Html.EditorFor(m => m.cnt) <br />
    </div>

    <div class="form-control">
        @Html.DisplayFor(m => m.pwd)
        
    </div>

    <input type="submit" />
}*@

@*                       accion        controlador                      *@
@using (Ajax.BeginForm("ActualizarC", "Gcontraseña", new AjaxOptions()
{
    HttpMethod = "POST",
    //LoadingElementId = "cambio",
    UpdateTargetId ="cambio",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="form-horizontal">
        
        @Html.DisplayNameFor(m => m.longitud) : @Html.EditorFor(m => m.longitud, new {@class="col-md-8 form-control"}) <br/>
        @Html.DisplayNameFor(m => m.cnt) : @Html.EditorFor(m => m.cnt) <br/>
    </div>

    <div class="form-control" id="cambio">
        @Html.DisplayFor(m => m.pwd)
    </div>
    <input type="submit" />

}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}