﻿@model MVCceidec2016.Models.Password


@*Esto es un comentario*@
@{
}

<h2>@ViewBag.Titulo</h2>
<h3>@ViewBag.SubTitulo</h3>

<div class="row">
    <h3>Contraseña Generada</h3>
    <div class="col-md-6 col-md-offset-3">

        <table class="table-responsive table-striped">
            <tr>
                <th>@Html.DisplayNameFor(m => m.pwd)  </th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(x => x.pwd)</td>
            </tr>
            
        </table>


        @*@Model.pwd*@
    </div>
</div>
